
/*mensagens de erro/sucesso abaixo dos inputs */
.password-feedback {
    font-size: 0.85rem;
    margin-top: 0.25rem;
    display: none; 
}

.feedback-error {
    color: #dc3545;
}

.feedback-success {
    color: #28a745;
}

.nav-active {
    font-weight: bold;
    text-decoration: underline;
}